body{
    font-family: Arial;
    background-color: black;
}

.button7{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button8{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button9{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button1-1{
    background-color: rgb(255, 165, 0);
    color: white;
    border: none;
}
.button4{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button5{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button6{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button1-2{
    background-color: rgb(255, 165, 0);
    color: white;
    border: none;
}
.button1{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button2{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button3{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button1-3{
    background-color: rgb(255, 165, 0);;
    color: white;
    border: none;
}
.button0{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}
.button1-4{
    background-color: rgb(255, 165, 0);
    color: white;
    border: none;
}   