body{
    font-family: Arial, sans-serif;
}

.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
.name-input,
.due-date-input{
    font-size: 15px;
    padding: 7px;
}
.add-todo-button{
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.delete-todo-button{
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
   
    
